{% extends 'form/base.html' %}
{% block title %} Inicio {% endblock title %}
{% block content %}

	  <section id="showcase">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
            <h1>Bienvenido <span class="primary-text">StatsMeth</span></h1>
            <p>Tú lugar para asesorarte en Tesis, Artículos y Trabajos de Investigación <p>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}