{% extends 'form/base.html' %}
{% block title %} Servicios {% endblock title %}
{% block content %}

	    <!-- SUBHEADER -->
    <section id="subheader">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Servicios</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN PAGE -->
    <section id="page" class="services">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><span class="primary-text">Servicios</span> que ofrecemos</h2>
            <ul>
              <li>
                <h3>Asesoría Estadística</h3>
                <p>Cada día es más frecuente el uso del lenguaje y las técnicas estadísticas en áreas como la ingeniería, las finanzas, la medicina, la biología y otros. Es posible contar con software específico y suficiente para resolver la mayor parte de los problemas que pueden surgir en la práctica habitual de ciertas profesiones. Sin embargo, la potencia entraña complejidad.</p>
              </li>
              <li>
                <h3>Auditoría Externa</h3>
                <p>Empresas e instituciones adquieren software y subcontratan servicios de consultoría. No se trata de compras compulsivas, sino razonadas, que exigen sopesar muchos aspectos de muy diversa índole como, por ejemplo, la calidad, la escalabilidad, el retorno de la inversión, la rentabilidad, las licencias, los roadmaps de los distintos proveedores, etc.</p>
              </li>
              <li>
                <h3>Servicios de Capacitación</h3>
                <p>La investigación en el campo de las ciencias de la salud es cada día una especialidad más vinculada a la estadística. Además, requiere cada vez métodos más sofisticados y el conocimiento de herramientas más complejas que los profesionales del área necesitan para llevar adelante sus estudios. De ahí que STATSMETH brinde servicios de formación en este campo.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}